$primary:   #4f5e50;
$secondary: #d2d7c6;
$success:   #00ce7c;
$info:      #61afef;
$warning:   #e2b714;
$danger:    #eaa09c;
$light:     #fbf9f8;
$dark:      #8faa91;

$text-black: #73655d;
$text-white: rgba(white, .9);

$rounded-borders: 15px;
